
<!DOCTYPE html>
<html>
<head>
    <title>Add Patient</title>
</head>
<body>

    <h1>Add Patient</h1>

    <form method="POST">
        {% csrf_token %}
        <label>Name</label><br>
        <input type="text" name="name"><br><br>

        <label>Phone</label><br>
        <input type="tel" name="phone" maxlength="10" pattern="[0-9]{10}" required><br><br>

        <label>Date of Birth</label><br>
        <input type="date" name="date_of_birth"><br><br>

        <label>Gender</label><br>
        <select name="gender">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select><br><br>

        <button type="submit">Save Patient</button>

    </form>
    <br>
    <a href="{% url 'view_patient' %}">Existing_patients</a>

</body>
</html>